Smart Article Summarization.json
{
  "name": "Smart Article Summarization",
  "nodes": [
    {
      "parameters": {
        "content": "## ⚡ Start here:",
        "height": 224,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1632,
        224
      ],
      "id": "fac5929f-e065-4474-96b1-7bcc06834238",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "@[youtube](cMyOkQ4N-5M)",
        "height": 512,
        "width": 902,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -976,
        -448
      ],
      "id": "ec65e69e-77fa-4912-a4af-49e0a248e2c8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### Double click here to see the results:",
        "height": 240,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        0
      ],
      "id": "a4b7a69a-0db8-4b9b-a81d-fd83378043a3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### 📰 Daily AI Summary\n\n\nThis workflow gets the latest news and asks AI to summarize it for you.\n\n⭐ Bonus: Send the summary via email by connecting your Gmail account\n\n▶ Watch the video to get started ",
        "height": 304,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1408,
        -496
      ],
      "id": "74d80857-5e63-47a8-8e86-8ecd10fd5f9e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=請用繁體中文總結這篇文章：\n{{ $json.content.join('\\n\\n') }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -896,
        288
      ],
      "id": "f3122954-3456-4d1b-a3ca-eb335cbd4860",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "dKSgcu7RGbkrAMGP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1344,
        288
      ],
      "id": "19d6ac42-40cb-478c-8eaa-2016790ea1cb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": "p",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1120,
        288
      ],
      "id": "48dfbdf8-13df-44e1-b3c9-e1f6b590c423",
      "name": "HTML"
    },
    {
      "parameters": {
        "formTitle": "AI 文章摘要小幫手",
        "formDescription": "請輸入文章網址，AI 將為您生成摘要。",
        "formFields": {
          "values": [
            {
              "fieldLabel": "url",
              "defaultValue": "文章網址",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1568,
        288
      ],
      "id": "416a5164-6da1-4d4a-824b-660ea8e4394e",
      "name": "On form submission",
      "webhookId": "d78d17c0-fbfd-4a9d-95cc-2e541b4308fe"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "摘要完成！",
        "completionMessage": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -544,
        288
      ],
      "id": "d529f59f-f730-4a2a-be45-683e22bfdfeb",
      "name": "Form",
      "webhookId": "cf1f0a6b-ea64-4c8e-bb74-251ec4517ecc"
    }
  ],
  "pinData": {},
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "0f732865-7ede-4998-91d7-7af633667404",
  "meta": {
    "templateId": "ready-to-run-ai-workflow",
    "templateCredsSetupCompleted": true,
    "instanceId": "2e13c9c3d29f6a7836ed043159ce0b8fffc4004e4e6b85bee5077f67d6d2d7ed"
  },
  "id": "nrw6GIH5VVLddzk1",
  "tags": []
}